#org-chart{
  position: relative;
}

#org-chart .cont{
  position: absolute;
}

.node {
        cursor: pointer;
    }

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.btn-cont{
  position: fixed;
  top:60px;
  right:100px;
  z-index: 999;
}