{% extends "base.html" %}

{% block content %}
	<div id="org-chart"></div>
	<input type="hidden" name="add_role_url" value="{% url 'add_role_url' %}">
	<input type="hidden" name="delete_role_url" value="{% url 'delete_role_url' %}">
	<input type="hidden" name="link_user_role_url" value="{% url 'link_user_role_url' %}">
	<input type="hidden" name="unlink_user_role_url" value="{% url 'unlink_user_role_url' %}">
	<input type="hidden" name="users_chart_data_url" value="{% url 'users_chart_data_url' %}">
	<input type="hidden" name="roles_chart_data_url" value="{% url 'roles_chart_data_url' %}">
{% endblock %}